header {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

header > h1 > span::first-letter {
    color: white;
}

body {
    background-image: url("../images/pexels-pixabay-47730.jpg");
    background-size: cover;
}

footer {
    background-image: url("https://img.uefa.com/imgml/uefacom/ucl/2021/logos/logo_dark.svg");
    background-repeat: no-repeat;
    background-size: auto 90%;
    
    padding-left: 60px;
    width: 800px;
    margin: 10px auto;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}

#zoneSelection div.joueur {
    cursor: pointer;
}

div[id^="p"] {
    cursor: pointer;
}

div[id^="p"] > button {
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    transform: translateX(10px) translateY(-5px);
    border-radius: 50%;
    display: none;
    background-color: black;
}

div[id^="p"]:hover > button {
    display: inline-block;
}
div[id^="p"] > button:hover {
    background-color: red;
}

div[id^="p"].capitaine > button {
    background-color: red;
}

div[id^="p"].capitaine {
    border: 2px solid red !important;
}

li.capitaine::before {
    content: "(C) ";
}
li.capitaine {
    color: red;
}

fieldset {
    position: absolute;
    display: flex;
    background-color: white;
    padding: 10px;
}

fieldset div {
    margin-right: 10px;
}

#joueurs div.hidden {
    display: none;
}